/* TODO: Not working as expected as much as common.css */

@property --theme-color {
  syntax: '<color>';
  initial-value: inherit;
  inherits: true;
}

@property --raw {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

@property --disabled {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

@property --component-bg {
  syntax: '<color>';
  initial-value: currentcolor;
  inherits: true;
}

:root {
  /* Theme Colors */
  --color-primary: var(--color-theme-default);
  /* Borders */
  --border-theme: var(--border-width) solid var(--theme-color);
  --border-theme-10: var(--border-width-10) solid var(--theme-color);
  --border-theme-25: var(--border-width-25) solid var(--theme-color);
  --border-theme-50: var(--border-width-50) solid var(--theme-color);
  --border-theme-75: var(--border-width-75) solid var(--theme-color);

  /* Spacing */
  --container-fluid: var(--space-md) var(--space-md) var(--space-sm);
  --container: var(--space-sm) var(--space-md) var(--space-xs);

  --opacity: var(--not-disabled, 1);

  /* ----------------------------------------------------------------------------- */

  /* Components */

  /* Navbar */
  --navbar-size: 80px;

  /* Forms */
  --invalid-color: var(--theme-red);
  --color-error: var(--theme-error);

  /* Initial State */
  --theme-color: oklch(from var(--color-primary) l c h / 100%);
  /* --theme-color: var(--color-theme-500); */
}

@media (min-width: 48rem) {
  /* 768px - Tablets */
  body {
    --container: var(--space-md) var(--space-lg);
  }
}
