/* https://css-tricks.com/use-css-clamp-to-create-a-more-flexible-wrapper-utility/ */
.wrapper {
  position: relative;
  --mix-blend-mode: normal;
  color: var(--theme-color);

  /* https://dev.to/technoph1le/the-css-accent-color-property-explained-4h9o */
  accent-color: var(--theme-color);
  color: hsl(from var(--theme-color) h s l / 0.2);
  color: var(--color-contrast-lower);
  mix-blend-mode: var(--mix-blend-mode);
  background-color: var(--color-bg);

  /* https://medium.com/@ehsaneona/overcoming-position-sticky-issues-solving-overflow-hidden-problems-with-overflow-clip-e8e79a7b0c34 */
  /* overflow: clip; */
  -ms-overflow-style: none;

  scrollbar-width: none;
}

.wrapper::-webkit-scrollbar {
  display: none;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 var(--space-unit);
}
