.o-howDoesItWork {
}

.o-howDoesItWork__container {
  overflow: hidden;
  height: 100%;
  position: sticky;
  /* top: calc(0 - var(--border-width)); */
  top: var(--spacing);
  padding: var(--spacing);
  max-height: calc(100vh - var(--spacing) - 2 * var(--border-width));
  display: flex;
  flex-direction: column;
  padding-top: 0;
}

.o-howDoesItWork__header {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.o-howDoesItWork__content {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.o-howDoesItWork__list {
  position: absolute;
  top: 0;
  bottom: 0;

  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
}
