.o-infoSection {
  grid-area: info-section;
  grid-row-start: row1-start;
  /* position: fixed; */

  /* background-color: blue; */
  height: calc(100svh + var(--navbar-size));
  width: calc(calc(100svw - var(--theme-bar-width)) - 1 * var(--border-width));
  transform: translateY(-100svh);

  display: flex;
  flex-direction: column;
  /* Make the navbar available above the banner */
  z-index: 1;
}

.o-infoSection .m-navbar {
  justify-self: flex-end;
}

.o-infoSection__content {
  flex-grow: 1;
}
