.m-formSubmit {
  display: none;
  position: relative;
}

.dynamic-form:valid .m-formSubmit {
  display: inline-block;
}

.dynamic-form .a-input {
  /* background:  no-repeat; */
  background-position: 0% 0%;
  background-size: 100%;
}

.dynamic-form-loader {
  display: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
