.banner {
  box-sizing: border-box;
  position: relative;
  /* if one element
  calc(100svh - calc(2 * var(--border-width))) */
  padding: 0 var(--spacing);
  border-bottom: var(--border-width) solid var(--theme-color);
  z-index: 0;
  display: flex;
  flex-direction: column;
  min-block-size: calc(100svh - var(--border-width));
  /* transition: var(--layout-transition); */
  /* transform: translateX(0svw); */

  /* Avoid children overlapping and always show the theme-bar section */
  /* https://stackoverflow.com/a/43312314 */
  /* https://css-tricks.com/preventing-a-grid-blowout/ */
  min-width: 0;
  flex-grow: 1;
  flex-basis: 0;

  & > * {
    margin-block: var(--space-lg);
  }

  & > header {
    flex-grow: 1;
    flex-shrink: 0;
  }

  & > * {
    flex-grow: 0;
    flex-shrink: 1;
  }

  & > :first-child:not(header) {
    margin-block-start: calc(0px - var(--border-width));
  }

  & > :last-child:not(header) {
    margin-block-end: calc(0px + var(--border-width));
  }

  & > header {
    margin-block: auto;
  }
}

.banner__title {
  /* font-size: var(--fit-xxl); */
}

.banner__title-brutally {
  display: flex;
  line-height: 0.8;
  font-size: var(--h1);
}

.banner__title__css-only {
  display: block;
  font-family: 'VacationPostcard';
  line-height: 1;
  letter-spacing: 18px;
  font-size: var(--h1-highlight);
}

/* .banner__description > span { */
.banner__description {
  font-family: 'ImpactLabelReversed';
  width: clamp(14rem, 100%, 100rem);
  /* font-size: var(--text-xl); */
  /* font-size: var(--text-2); */
  font-size: var(--text-lg);
}

@media (min-width: 64rem) {
  .banner__description {
    /* font-size: var(--text-xl); */
  }
}

.bannner__animation {
  /* width: 100%; */
  /* max-height: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: var(--space-xs) 0;
  background-color: var(--color-bg-90);
  color: var(--theme-color);
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  margin: auto calc(-1 * var(--spacing)) 0;
}

.banner__how-does-it-work-btn {
  font-family: 'VacationPostcard';
  font-size: var(--text-xl);
}
