.o-howDoesItWork {
  grid-area: how-does-it-work;
  container: roman-list;
  container-type: inline-size;
  overflow: hidden;
  height: 100%;
  position: sticky;
  /* top: calc(0 - var(--border-width)); */
  top: var(--spacing);
  min-height: calc(100vh - 2 * var(--spacing));
  padding: var(--spacing);
  max-height: calc(100vh - var(--spacing) - 2 * var(--border-width));
  display: flex;
  flex-direction: column;
  padding-top: 0;
  width: var(--content-width);
}

.o-howDoesItWork__header {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

.o-howDoesItWork__content {
  flex-grow: 1;
  overflow: hidden;
  position: relative;
}

.o-howDoesItWork__lists {
  position: absolute;
  inset: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: var(--space-lg);
}

.o-howDoesItWork .controller {
  flex: 1;
  /* position: absolute;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-y: auto;
  scrollbar-width: none; */
}

/* --------------------------------------------- */

/*  Styling of the list based on the parend */
@container roman-list (min-width: 0) {
  .m-list {
    list-style-type: upper-roman;
  }

  .m-list__item {
    position: relative;
    padding: var(--space-xs) 0 var(--space-sm);
    border-top: var(--border-theme-10);
  }

  .m-list__item:not(:last-child) {
    border-bottom: var(--border-theme-25);
  }

  .a-link {
    color: var(--theme-color);
    text-decoration-color: currentColor;
    display: flex;
    align-items: flex-start;
    align-items: center;
    gap: 0.5rem;
    margin: var(--space-xxs) 0;
  }

  h4,
  h5 {
    margin: var(--space-xs) 0;
    color: var(--theme-color);
    font-weight: 700;
  }
}
