/* 
 * Unholy Albatross
 * https://www.miragecraft.com/blog/unholy-albatross
 * (https://css-tricks.com/holy-albatross-with-widths)
 *
 * TODO: Not used for now
*/
/* .o-themeBar > * { */
/*   min-width: clamp( */
/*     var(--min-width, 0px), */
/*     (var(--breakpoint) - 100%) * 999, */
/*     100% - var(--gutter) */
/*   ); */
/*   flex-grow: 1; */
/* } */

.o-themeBar {
  grid-area: theme-bar;
  width: var(--theme-bar-width);

  /* border-left: var(--border-width) solid var(--theme-color); */
  border-right: var(--border-width) solid var(--theme-color);
  border-bottom: var(--border-width) solid var(--theme-color);
  /* border-left: var(--border-width) solid var(--theme-color); */
  --min-width: 60px;
  gap: var(--space-xs);
  transition: var(--layout-transition);
  transform: translateX(calc(100% - var(--theme-bar-width)));
  z-index: 1;
  background-color: var(--color-bg);
}

.o-themeBar__container {
  /* Due to default text-align: -webkit-match-parent; on li element */
  text-align: center;
  padding: 0;
  position: sticky;
  top: 50px;
  bottom: 0;

  /* Default style applied to ul */
  margin: 0;

  /* TODO: check if necessary */
  padding: var(--space-xs);

  /* display: grid; */
  /* https://css-tricks.com/look-ma-no-media-queries-responsive-layouts-using-css-grid/ */
  /* grid-template-columns: repeat(auto-fill, minmax(40px, 1fr)); */
  grid-template-columns: repeat(
    auto,
    clamp(var(--space-xs), 50%, var(--space-md))
  );
  width: 100%;
  /* grid-auto-flow: column; */

  /* @media (min-width: 40rem) {
    grid-auto-flow: row;
  } */
  align-items: center;
  justify-content: center;
}

.o-themeBar__btn {
  background: transparent;
  border: none;
  padding: 0;
}

/*
 * Style related to the actions/buttons available in the theme bar
 */

.zoom-in,
.zoom-out,
.how-does-it-work-open-btn {
  cursor: pointer;
  /* width: var(--space-md); */
  /* height: var(--space-md); */
  stroke: var(--theme-color);
}

.zoom-in,
.zoom-out,
.primary-yellow,
.warm-pink,
.red,
.erotic-blue,
.how-does-it-work-open-btn {
  stroke-width: var(--border-width);
  /* width: clamp(var(--space-xs), 50%, var(--space-md));
  height: clamp(var(--space-xs), 50%, var(--space-md)); */
}

.primary-yellow,
.warm-pink,
.red,
.erotic-blue {
  transition: fill 0.5s ease;
}

.primary-yellow {
  stroke: var(--color-primary);
}

.warm-pink {
  stroke: var(--theme-warm-pink);
}

.red {
  stroke: var(--theme-red);
}

.erotic-blue {
  stroke: var(--theme-erotic-blue);
}

/*
 * Pseudo elements trick
 */

/* 
  * Due to the behavior of Grid, we can not overlap the children out of the space defined by their parent
  * So we use pure viewport units
  * Some possible workarounds:
  * https://stackoverflow.com/a/35752327 wuith this answer https://stackoverflow.com/a/32727445
  * SS tricks: https://css-tricks.com/positioning-overlay-content-with-css-grid/
  */

/* Manipulating grid-template-columns?
 
  * #how-does-it-work:checked ~ .wrapper .hero,
  * #o-howDoesItWork__backBtn:checked ~ .wrapper .hero {
  * grid-template-columns: XXX;
  * } 
  */
.o-themeBar__element {
  /* text-decoration: none; */
  /* display: block; */
  /* color: white; */
  /* text-align: center; */
  /**/
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
