/* https://css-tricks.com/use-css-clamp-to-create-a-more-flexible-wrapper-utility/ */
.container {
  /* --theme-color: oklch(from var(--color-theme-default) h s l / 100%); */
  position: relative;
  --mix-blend-mode: normal;
  color: var(--theme-color);

  /* https://dev.to/technoph1le/the-css-accent-color-property-explained-4h9o */
  accent-color: var(--theme-color);
  /* color: hsl(from var(--theme-color) h s l / 0.2); */
  color: var(--color-contrast-lower);
  /* mix-blend-mode: var(--mix-blend-mode); */
  background-color: var(--color-bg);
  border: var(--border-width) solid var(--theme-color);
  /* https://medium.com/@ehsaneona/overcoming-position-sticky-issues-solving-overflow-hidden-problems-with-overflow-clip-e8e79a7b0c34 */
  overflow: clip;
  -ms-overflow-style: none;

  scrollbar-width: none;

  /* https://grafikart.fr/tutoriels/conteneur-css-1233 */
  box-sizing: border-box;
  width: min(var(--breakpoint-xl), calc(100% - 4 * var(--layout-mobile-padding)));
  margin-inline: auto;
}

.controller::-webkit-scrollbar {
  display: none;
}

.cont {
  /* https://grafikart.fr/tutoriels/conteneur-css-1233 */
  box-sizing: border-box;
  width: min(var(--breakpoint-sm), calc(100% - 2 * 1rem));
  margin-inline: auto;
}
