/*
 * A fun CSS class that generates a lot of Lorem Ipsum text, and also adds a counter for empty tags inside it.
 * Usage:
 * <div class="lorem">
 *   <p></p>
 *   <p></p>
 * </div>
 * Will generate: 
 * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 * Empty I
 * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 * Empty II
 * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
 * Empty III
 * Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
 */

.lorem {
  --lorem-ipsum: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit. ';
  --content: var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum) var(--lorem-ipsum);

  /* Define a counter for empty tags inside */
  counter-reset: empty-tag;

  /* multiply it */
  content: var(--content);

  &::before {
    content: var(--content);
  }

  &:after {
    content: var(--content);
  }

  & > *:empty {
    counter-increment: empty-tag;

    &::before {
      content: 'Empty ' counter(empty-tag, upper-roman);
      display: block;
      opacity: 0.6;
      text-indent: var(--space-md);
      margin-left: var(--space-md);
      font-size: var(--text-lg);
    }

    &::after {
      content: var(--content);
      text-indent: var(--space-md);
      margin-left: var(--space-md);
    }
  }
}
