@property --display-clip {
  syntax: 'yes | <number>+';
  inherits: true;
  initial-value: 0 0 0 0;
}

/* @property --is-screen-xs {
  syntax: 'yes | no';
  inherits: true;
  initial-value: yes;
} */

@property --is-screen-sm {
  syntax: 'yes | no';
  inherits: true;
  initial-value: yes;
}

/* https://keithclark.co.uk/articles/pseudo-boolean-css-custom-properties/ */

/* Define variables */
/* @media (max-width: 30rem) { */
/* 480px */
/* :root {
    --is-screen-xs: yes;
  }
} */

/* 768px - Tablets */
@media (min-width: 48rem) {
  :root {
    --is-screen-sm: no;
  }
}

/* Utility classes */
/* .screen-xs {
  --display-clip: var(--is-screen-xs);
  clip-path: rect(var(--display-clip));
  visibility: var(--is-screen-xs);
} */

.screen-sm {
  --display-clip: var(--is-screen-sm);
  clip-path: rect(var(--display-clip));
  visibility: var(--is-screen-sm);
}
