/* https://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds/63848864#63848864 */
/* Used for the shake animation see shake.css */
@property --highlighted-color-1 {
  syntax: '<color>';
  initial-value: #e3c567;
  inherits: false;
}

@property --highlighted-color-2 {
  syntax: '<color>';
  initial-value: #e3c567;
  inherits: false;
}

/* Control wether the highlighted background is displayed by default */
/* Used with animation */
@property --active {
  syntax: '<integer>';
  initial-value: 1;
  inherits: true;
}

h1.-highlighted,
h2.-highlighted,
h3.-highlighted,
h4.-highlighted,
.h1.-highlighted,
.text-xxl.-highlighted,
.text-xl.-highlighted,
.text-lg.-highlighted,
.text-md.-highlighted,
.text-sm.-highlighted,
.text-xs.-highlighted,
p.-highlighted {
  --highlighted-bg-color: color-mix(
    in srgb,
    var(--color-bg),
    var(--theme-color) calc(100% * var(--active, 0))
  );
  --highlighted-bg-color-1: var(--highlighted-bg-color);
  --highlighted-bg-color-2: var(--highlighted-bg-color);

  text-transform: uppercase;
  /* TODO: check responsive line-height */
  line-height: 135%;
  margin: 0;
  position: relative;
}

.-highlighted > span {
  position: relative;

  --highlighted-bg-color-1: var(--theme-color);
  --highlighted-bg-color-2: var(--theme-color);

  --highlighted-bg: linear-gradient(
    var(--highlighted-bg-color-1),
    var(--highlighted-bg-color-2)
  );

  color: var(--color-bg);
  padding: 2px;
  background-image: var(--highlighted-bg);
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.-highlighted > span.labeled {
  left: clamp(-30px, -1.4vw, -2px);
  padding-left: clamp(2px, 1.4vw, 30px);
}

@media (min-width: 80rem) {
  /* 1280px */
  .-highlighted.-animate > span {
    color: var(--theme-color);
    --animate-in: highlight-to-left 0.5s 0.1s forwards;
    --animate-out: highlight-to-right 0.4s forwards;
    background-size: 0% 100%;
    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;
    background-repeat: no-repeat;
    background-position: left;
    animation: var(--highlight-animate);
  }

  .-highlighted.-animate.-active > span {
    --animate-in: highlight-to-right 0.5s forwards;
    --animate-out: highlight-to-left 0.4s 0.1s forwards;
  }

  .-highlighted.-animate:has(> span:hover) > span {
    --highlight-animate: var(--animate-in);
  }

  .-highlighted.-animate:has(> span:not(:hover)) > span {
    --highlight-animate: var(--animate-out);
  }
}

@keyframes highlight-to-left {
  0% {
    background-size: 0% 100%;
  }
  50% {
    background-size: 100% 100%;
  }
  100% {
    background-size: 100% 100%;
    background-image: var(--highlighted-bg);
    color: var(--color-bg);
  }
}

@keyframes highlight-to-right {
  0% {
    background-size: 100% 100%;
    background-image: var(--highlighted-bg);
    color: var(--color-bg);
  }
  50% {
    background-size: 100% 100%;
    background-position: right;
  }
  100% {
    background-size: 0% 100%;
    background-color: transparent;
    background-position: right;
    color: var(--theme-color);
  }
}
