.-highlighted {
  text-transform: uppercase;
  line-height: 135%;
  margin: 0;
  position: relative;
}

.-highlighted.stick-to-left {
  --left-mobile-val: calc(
    0px - var(--layout-mobile-padding) -
      var(--highlighted-text-gap-left, clamp(-30px, -1.4vw, -2px))
  );
  --left-pos: calc(0px - var(--highlighted-text-gap-left));
  left: var(--left-pos);
}

.-highlighted.stick-to-left > span.labeled:first-of-type {
  padding-left: var(--highlighted-text-gap-left);
}

.-highlighted > span {
  position: relative;

  --highlighted-bg-color-1: var(--theme-color);
  --highlighted-bg-color-2: var(--theme-color);
  --highlighted-bg: linear-gradient(
    var(--highlighted-bg-color-1),
    var(--highlighted-bg-color-2)
  );

  /* base (mobile): keep as-is */
  color: var(--color-bg);
  padding: 4.55px 2px 0 2px;
  background-image: var(--highlighted-bg);
}

.-highlighted.stick-to-left {
  margin-right: calc(-1 * clamp(2px, 1.4vw, 30px));
}

/* 768px */
@media (min-width: 48rem) {
  .-highlighted.-animate > span {
    color: var(--color-primary);

    background-image: var(--highlighted-bg);
    background-repeat: no-repeat;

    /* multi-line friendliness */
    /* -webkit-box-decoration-break: clone; */
    /* box-decoration-break: clone; */

    /* start hidden */
    background-size: 100% 100%;

    /* anchor for the “out” state */
    background-position: left;

    -webkit-background-clip: padding-box, text;
    background-clip: padding-box, text;

    transition:
      background-size 500ms ease,
      color 500ms ease;
  }

  /* HOVER IN: anchor left, then expand */
  .-highlighted.-animate:hover > span {
    background-position: left;
    /* discrete, not transitioned */
    background-size: 100% 100%;
    color: var(--color-bg);
  }

  /* HOVER OUT: anchor right, then shrink */
  .-highlighted.-animate:not(:hover) > span {
    background-position: right;
    /* discrete */
    background-size: 0% 100%;
    color: var(--color-primary);
  }

  /* Flip direction when -active */
  .-highlighted.-animate.-active:hover > span {
    background-position: right;
    background-size: 0% 100%;
    color: var(--color-primary);
    box-decoration-break: clone;
  }

  .-highlighted.-animate.-active:not(:hover) > span {
    background-position: left;
    background-size: 100% 100%;
    color: var(--color-bg);
  }
}
