.a-modifier {
  opacity: 0.01;
  position: fixed;
  left: -9999px;
}

/* 
 * Main file for CSS modifier using Checkbox Hack
 * https://css-tricks.com/the-checkbox-hack/
 * The ".state" is parent to all modifier (checkboxes and targets) and is triggered
 * using :has() pseudo-class
 * The ".controller" is the main container for the layout
 * and the direct adjacent sibling to the ".state"
 */

/* TODO: Change all modifier with :has()

/* 
 *
 * 1 - Theme Bar
 * 2 - "How does it work?" section
 * 3 - Modal
 *
 */

/* ----------------------------------------------------------------------------- */

/* 1 - Theme Bar */

.state:has(#zoom-in:checked) + .controller {
  --spacing: var(--space-xs);
}

.state:has(#zoom-out:checked) + .controller {
  --spacing: var(--space-xxl);
}

#zoom-out:checked ~ .controller {
  --spacing: var(--space-xxl);
}

:target ~ .controller .primary-yellow {
  fill: var(--color-primary);
}

#warm-pink:target ~ .controller {
  --theme-color: var(--theme-warm-pink);
}

#warm-pink:target ~ .controller .warm-pink {
  fill: var(--theme-warm-pink);
}

#red:target ~ .controller {
  --theme-color: var(--theme-red);
}

#red:target ~ .controller .red {
  fill: var(--theme-red);
}

#erotic-blue:target ~ .controller {
  --theme-color: var(--theme-erotic-blue);
}

#erotic-blue:target ~ .controller .erotic-blue {
  fill: var(--theme-erotic-blue);
}

:target ~ .controller {
  --theme-color: var(--color-primary);
}

:target ~ .controller .primary-yellow {
  fill: var(--color-primary);
}

/* ----------------------------------------------------------------------------- */

/* 
 * 2 - "How does it work?" section 
 */

#how-does-it-work:checked ~ .controller .layout {
  --layout-transform-value: var(--layout-translate-howDoesItWork);
  transform: translateX(calc(-100svw + var(--theme-bar-width)));
}

#how-does-it-work-back:checked ~ .controller .layout {
  --layout-transform-value: var(--layout-translate-main);
  transform: translateX(0);
}

#how-does-it-work,
#o-howDoesItWork__backBtn {
  opacity: 0.01;
  position: fixed;
  left: -9999px;
}

/* ----------------------------------------------------------------------------- */

/* 
 * 3 - Modal & Drawer
 *
 * 3.1 - Visibility trick
 * 3.2 - Overlay component
 * 3.3 - Disable scrolling when Modal is open
 * 3.4 - Modal and Drawer animations
 * 3.5 - Modal button modifiers
 *
 */

/* 
* 3.1 - Visibility trick from https://webdesign.tutsplus.com/css-only-modal--cms-107772t
* "We’ll delay the visibility transition of the modal to allow the exit animations 
* to be completed before it’s completely hidden."
 */

.app {
  --overlay-opacity: -1;
  --overlay-z-index: -1;
}
/* 
 * 3.2 Overlay component
 */
.app:not(:has(#modal:checked)) {
  & .a-overlay[for='modal'] {
    backdrop-filter: none;
    --overlay-opacity: -1;
    --overlay-z-index: -1;
  }

  & .m-modal {
    --overlay-opacity: -1;
    --overlay-z-index: -1;
    /* pointer-events: none; */
  }
}

.app:has(#modal:checked) {
  & .a-overlay[for='modal'] {
    backdrop-filter: blur(var(--_layout-overlay-blur, 8px));
    --overlay-opacity: 100%;
    --overlay-z-index: var(--_layout-overlay-z-index);
  }

  & .m-modal {
    /* pointer-events: auto; */
    --overlay-opacity: 100%;
    --overlay-z-index: var(--_layout-overlay-z-index);
  }
}

/* .app:not(:has(#drawer-settings:checked)) {
}

.app:has(#modal:checked) {
  & .a-overlay[for='modal'] {
    backdrop-filter: blur(var(--_layout-overlay-blur, 8px));
    --overlay-opacity: 100%;
    --overlay-z-index: var(--_layout-overlay-z-index);
  }
}
.app:has(#drawer-settings:checked) {
  & .a-overlay[for='drawer-settings'] {
    backdrop-filter: blur(var(--_layout-overlay-blur, 8px));
    --overlay-opacity: 100%;
    --overlay-z-index: var(--_layout-overlay-z-index);
  }
} */
/* drawer slide */
.app .m-drawer {
  transition: transform 0.5s ease;
}
.app:has(#drawer-settings:checked) {
  & .a-overlay[for='drawer-settings'] {
    backdrop-filter: blur(var(--_layout-overlay-blur, 8px));
    --overlay-opacity: 100%;
    --overlay-z-index: var(--_layout-overlay-z-index);
  }

  & .m-drawer {
    transform: translateX(0);
    --overlay-opacity: 100%;
    --overlay-z-index: var(--_layout-overlay-z-index);
    transition: transform 0.5s ease;
  }
}

.app:not(:has(#drawer-settings:checked)) {
  & .m-drawer {
    transform: translateX(100%);
    --overlay-z-index: -1;
    transition: all 0.5s ease;
  }

  & .a-overlay[for='drawer-settings'] {
    backdrop-filter: none;
    --overlay-opacity: 0;
    --overlay-z-index: -1;
  }
}
/* 
 * 3.3 Disable scrolling when Modal is open
 */
/* modal closed */
.app:not(:has(#modal:checked)) .controller,
.app:not(:has(#drawer-settings:checked)) .controller {
  height: auto;
  overscroll-behavior: contain;
}

/* modal open */
.app:has(#modal:checked) .controller,
.app:has(#drawer-settings:checked) .controller {
  height: 100svh;
  overflow-y: hidden;
  overscroll-behavior: contain;
}

/* 
 * 3.4 Modal and Drawer animations
 */
/* #modal[data-animation='fade'] ~ .controller .m-modal {
  --animation-in: modal-fade-in;
  --animation-out: modal-fade-out;
}

[data-modifier='drawer'][data-animation='slide'] ~ .controller .m-drawer {
  --animation-in: drawer-slide-in;
  --animation-out: drawer-slide-out;
} */

/* #modal:checked ~ .controller .m-modal {
  animation: var(--animation-in) ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

#modal:not(:checked) ~ .controller .m-modal {
  animation: var(--animation-out) ease 0.5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
} */

/* 
 * 3.5 Modal button modifiers
 */
.app:has(#center-modal:checked) ~ .controller .m-modal {
  --top-modal: 50svh;
  --modal-translate-y: -50%;
}

.app:has(#center-modal:checked)
  ~ .controller
  .m-modal__footer
  label[for='center-modal']::after {
  content: 'Put me on top';
}

.app:has(#brutalist-modal:checked)
  ~ .controller
  .m-modal__footer
  label[for='brutalist-modal']::after {
  content: 'Classic Modal';
}

.app:has(#brutalist-modal:checked) ~ .controller .m-modal {
  --raw: var(--FALSE);
  --dialog-bg: var(--theme-color);
  --dialog-border: var(--border-bg);
  --dialog-box-shadow: none;
}

.app:has(#brutalist-modal:checked) ~ .controller .m-modal .m-modal__title,
.app:has(#brutalist-modal:checked) ~ .controller .m-modal p,
.app:has(#brutalist-modal:checked) ~ .controller .m-modal span,
.app:has(#brutalist-modal:checked) ~ .controller .m-modal label::after {
  --mix-blend-mode: difference;
  color: var(--color-bg);
}

.app:has(#brutalist-modal:checked) ~ .controller .m-modal .m-modal__header,
.app:has(#brutalist-modal:checked) ~ .controller .m-modal .m-modal__footer {
  border-color: var(--color-bg);
}
