.-relative {
  position: relative;
}

.screen-xs {
  --screen-xs: var(--breakpoint-xs, 30rem);
}

.screen-sm {
  --is-screen-sm: var(--TRUE);
}

@container (min-width: 30rem) {
  .screen-xs {
    display: none;
  }
  .screen-sm,
  .screen-md,
  .screen-lg,
  .screen-xl,
  .screen-xxl {
    display: none;
  }
}

@container min-width( --screen-sm: var(--breakpoint-sm, 48rem)) {
}

@media (min-width: 30rem) {
  /* 480px */
  .screen-xs {
    display: none;
  }
}

@media (min-width: 48rem) {
  /* 768px */
  .screen-sm {
    display: none;
  }
}

@media (min-width: 64rem) {
  /* 1024px */
  .screen-md {
    display: none;
  }
}

@media (min-width: 80rem) {
  /* 1280px */
  .screen-lg {
    display: none;
  }
}
