/* https://utopia.fyi/type/calculator/?c=320,16,1.333,1620,18,1.618,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
  /* Step -2: 9.00px → 6.88px */
  --text--xs: clamp(0.43rem, 0.5951rem + -0.1631vw, 0.5625rem);

  /* Step -1: 12.00px → 11.12px */
  --text--sm: clamp(0.695rem, 0.7635rem + -0.0677vw, 0.75rem);

  /* Step 0: 16.00px → 18.00px */
  --text: clamp(1rem, 0.9692rem + 0.1538vw, 1.125rem);

  /* Step 1: 21.33px → 29.12px */
  --h4: clamp(1.3331rem, 1.2133rem + 0.5992vw, 1.82rem);

  /* Step 2: 28.43px → 47.12px */
  --h3: clamp(1.7769rem, 1.4893rem + 1.4377vw, 2.945rem);

  /* Step 3: 37.90px → 76.24px */
  --h2: clamp(2.3688rem, 1.7789rem + 2.9492vw, 4.765rem);

  /* Step 4: 50.52px → 123.36px */
  --h1: clamp(3.1575rem, 2.0369rem + 5.6031vw, 7.71rem);

  /* https://utopia.fyi/type/calculator/?c=320,16,1.25,1620,16,1.5,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Step -2: 10.24px → 7.1111px */
  --text--xs: clamp(0.4444rem, 0.6881rem + -0.2407vw, 0.64rem);
  /* Step -1: 12.8px → 10.6667px */
  --text--sm: clamp(0.6667rem, 0.8328rem + -0.1641vw, 0.8rem);
  /* Step 0: 16px → 16px */
  --text: clamp(1rem, 1rem + 0vw, 1rem);
  /* Step 1: 20px → 24px */
  --h4: clamp(1.25rem, 1.1885rem + 0.3077vw, 1.5rem);
  /* Step 2: 25px → 36px */
  --h3: clamp(1.5625rem, 1.3933rem + 0.8462vw, 2.25rem);
  /* Step 3: 31.25px → 54px */
  --h2: clamp(1.9531rem, 1.6031rem + 1.75vw, 3.375rem);
  /* Step 4: 39.0625px → 81px */
  /* --h1: clamp(2.4414rem, 1.7962rem + 3.226vi, 5.0625rem); */
  /* Step 5: 48.8281px → 121.5px */
  --h1: clamp(3.0518rem, 1.9337rem + 5.5901vw, 7.5938rem);

  /* Step 5: 67.34px → 199.60px */
  /* --h1: clamp(4.2088rem, 2.174rem + 10.1738vw, 12.475rem); */
  /* --h1: clamp(1.3688rem, 2.174rem + 10.1738vw, 12.475rem); */
}

h1,
.title-1 {
  font-size: var(--h1);
}

h2,
.title-2 {
  font-size: var(--h2);
}

h3,
.title-3 {
  font-size: var(--h3);
}

h4,
.title-4 {
  font-size: var(--h4);
}

h5,
.title-5 {
  font-size: var(--h5);
}

p {
  font-size: var(--text);
}

.text-sm {
  margin-bottom: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}
