.flex {
  display: flex;
  /* flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: var(--space-sm); */
}

.w-md {
  width: var(--space-md);
}

.h-md {
  height: var(--space-md);
}
