.btn {
  border: none;
  cursor: pointer;
  outline: none;
  font-family: 'gotham-book';
  font-size: var(--h4);
  background-color: var(--theme-color);
  color: var(--color-bg);
  transition: background-color 0.4s;
  font-weight: bold;
  text-transform: uppercase;
  /* padding: 8px 16px; */
  box-shadow: 5px 6px 0px 1px
    color-mix(in srgb, var(--theme-color), transparent 50%);
}
