.a-btn {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  /* color: var(--font-color); */

  --component-padding: var(--space-sm) var(--space-md);
}

.a-btn span,
.a-btn:after {
  color: var(--font-color);
}
