[data-component='checkbox'],
[data-component][type='checkbox'] {
  cursor: pointer;
  position: relative;
  aspect-ratio: 1 / 1;
  margin: 0;
  appearance: none;
  height: var(--_checkbox-size, var(--space-lg));
  width: var(--_checkbox-size, var(--space-lg));
  /* padding: var(--_checkbox-padding, var(--_space-xs));
  padding: var(--_space-sm); */
  border-radius: var(--_checkbox-radius, var(--border-radius-medium));

  &:before {
    content: '';
    position: absolute;
    width: 70%;
    height: 70%;
    inset: 50%;

    --transform-scale: 0;

    /* border: var(--border-theme-50); */
    background-color: var(--_checkbox-bg, var(--color-bg-primary));
    box-sizing: border-box;
    /* transform: translate(var(--_checkbox-checkmark-translate))
      scale(var(--transform-scale)); */
    transform: translate(-50%, -50%) scale(0);
    /* animation: var(--checkbox-animation); */
    transition: transform 200ms ease, background-color 200ms ease;
  }

  &:checked {
    /* --checkbox-animation: var(--checkbox-animation-checked-in); */

    &:before {
      transform: translate(-50%, -50%) scale(1);
      background-color: var(--color-bg);
    }
  }

  &:not(:checked) {
    --checkbox-animation: var(--checkbox-animation-checked-out);
  }
}
