[data-code] {
  font-size: var(--text-sm);
  position: relative;
  background-color: var(--color-contrast-low);
  padding: var(--space-xxs) var(--space-sm);
}

pre[data-code] {
  position: relative;
  padding: var(--space-sm);
  border: 1px solid #e5e7eb;
  overflow: auto;
}

[data-code]::after {
  content: attr(data-code);
  position: absolute;
  top: var(--space-xxs);
  right: var(--space-sm);
  /* background-color: var(--color-theme-50);
  color: var(--color-theme-900);
  padding: var(--space-xs);
  border-radius: var(--radius);
  font-size: var(--text-xs); */
  /* font-weight: bold; */
  text-transform: uppercase;
  font-size: var(--text-md);
}
