@property --overlay-bg {
  syntax: '<color>';
  initial-value: #00000080;
  inherits: false;
}

:root {
}

.a-overlay {
  /* --overlay-z-index: -1; */
  /* --overlay-opacity: var(--is-visible) 100%; */
  --overlay-z-index: var(--is-visible) var(--_layout-overlay-z-index);
  --bd-filter: var(--is-visible) blur(var(--_layout-overlay-blur, 8px));
  position: fixed;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* overflow: auto; */
  inset: 0;
  /* opacity: var(--overlay-opacity, 0%); */
  /* background-color: var(--overlay-bg); */
  /* z-index: var(--overlay-z-index, 1000); */
  /* backdrop-filter: blur(var(--overlay-blur, 8px)); */
  backdrop-filter: var(--bd-filter);
  opacity: var(--overlay-opacity, -1);
  z-index: var(--overlay-z-index, -1);
  transition:
    opacity 0.3s ease,
    backdrop-filter 0.3s ease,
    z-index 0.3s ease;
}
