.parallax {
  perspective: 1px;
  /* min-height: 100%; */
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;

  /* Parallax background */
  & + *,
  & > .parallax-back {
    position: absolute;
    inset: 0;
    transform: translateZ(-1px) scale(2);

    & + * + *,
    & > .parallax-content {
      transform: translateZ(0);
    }
  }
}

/* .parallax-back {
  /* .parallax-content { */

/* }

.parallax-content {
  transform: translateZ(0);
}

.parallax-back { */
/* } */
