.parallax {
  perspective: 1px;
  /* min-height: 100%; */
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  scrollbar-width: none;
}

.parallax-back {
  /* .parallax-content { */
  position: absolute;
  inset: 0;
}

.parallax-content {
  transform: translateZ(0);
}

.parallax-back {
  transform: translateZ(-1px) scale(2);
}
