/* https://codepen.io/davatron5000/pen/mddmRJe */
/* html body h1 {
  --minFontSize: 32px;
  --maxFontSize: 50px;
  --scaler: 10vw;
  font-size: clamp(var(--minFontSize), var(--scaler), var(--maxFontSize));
} */

:root {
  /* Step 3: 31.25px → 54px */
  --text-xxl: clamp(1.9531rem, 1.6031rem + 1.75vw, 3.375rem);
  /* Step 4: 39.0625px → 81px */
  --h1: clamp(2.4414rem, 1.7962rem + 3.226vi, 5.0625rem);
  /* Step 5: 48.8281px → 121.5px */
  /* --h1: clamp(3.0518rem, 1.9337rem + 5.5901vw, 7.5938rem); */

  /* Step 5: 67.34px → 199.60px */
  --h1-highlight: clamp(4.2088rem, 2.174rem + 10.1738vw, 12.475rem);
  /* --h1: clamp(1.3688rem, 2.174rem + 10.1738vw, 12.475rem); */

  --text-xxs: clamp(0.3537rem, 0.551rem + -0.1948cqi, 0.512rem);
  /* Step -2: 10.24px → 8.0024px */
  --text-xs: clamp(0.5002rem, 0.6744rem + -0.1721cqi, 0.64rem);
  /* Step -1: 12.8px → 11.3154px */
  --text-sm: clamp(0.7072rem, 0.8228rem + -0.1142cqi, 0.8rem);
  /* Step 0: 16px → 16px */
  --text-md: clamp(1rem, 1rem + 0cqi, 1rem);
  /* Step 1: 20px → 22.624px */
  --text-lg: clamp(1.25rem, 1.2096rem + 0.2018cqi, 1.414rem);
  /* Step 2: 25px → 31.9903px */
  --text-xl: clamp(1.5625rem, 1.455rem + 0.5377cqi, 1.9994rem);
  /* Step 3: 31.25px → 45.2343px */
  --text-xxl: clamp(1.9531rem, 1.738rem + 1.0757cqi, 2.8271rem);
  /* Step 4: 39.0625px → 63.9613px */
  --h1: clamp(2.4414rem, 2.0583rem + 1.9153cqi, 3.9976rem);
  /* Step 5: 48.8281px → 95.9516px */
  --h1-highlight: clamp(3.8147rem, 2.7863rem + 5.1422cqi, 7.9928rem);
  /* --h1: clamp(3.8147rem, 2.7863rem + 5.1422cqi, 7.9928rem); */

  /* Step -3: 8.192px → 4.7407px */
  --text--3: clamp(0.2963rem, 0.5651rem + -0.2655cqi, 0.512rem);
  /* Step -2: 10.24px → 7.1111px */
  --text--2: clamp(0.4444rem, 0.6881rem + -0.2407cqi, 0.64rem);
  /* Step -1: 12.8px → 10.6667px */
  --text--1: clamp(0.6667rem, 0.8328rem + -0.1641cqi, 0.8rem);
  /* Step 0: 16px → 16px */
  --text-0: clamp(1rem, 1rem + 0cqi, 1rem);
  /* Step 1: 20px → 24px */
  --text-1: clamp(1.25rem, 1.1885rem + 0.3077cqi, 1.5rem);
  /* Step 2: 25px → 36px */
  --text-2: clamp(1.5625rem, 1.3933rem + 0.8462cqi, 2.25rem);
  /* Step 3: 31.25px → 54px */
  --text-3: clamp(1.9531rem, 1.6031rem + 1.75cqi, 3.375rem);
  /* Step 4: 39.0625px → 81px */
  --text-4: clamp(2.4414rem, 1.7962rem + 3.226cqi, 5.0625rem);
  /* Step 5: 48.8281px → 121.5px */
  --text-5: clamp(3.0518rem, 1.9337rem + 5.5901cqi, 7.5938rem);

  /* @link https://utopia.fyi/type/calculator?c=320,14,1.25,1620,16,1.414,4,4,&s=0.75,1.5,s-l&g=s,l,xl,12 */

  /* Step -4: 5.7344px → 4.0024px */
  --step--4: clamp(0.2502rem, 0.385rem + -0.1332vw, 0.3584rem);
  /* Step -3: 7.168px → 5.6594px */
  --step--3: clamp(0.3537rem, 0.4712rem + -0.116vw, 0.448rem);
  /* Step -2: 8.96px → 8.0024px */
  --step--2: clamp(0.5002rem, 0.5747rem + -0.0737vw, 0.56rem);
  /* Step -1: 11.2px → 11.3154px */
  --step--1: clamp(0.7rem, 0.6982rem + 0.0089vw, 0.7072rem);
  /* Step 0: 14px → 16px */
  --step-0: clamp(0.875rem, 0.8442rem + 0.1538vw, 1rem);
  /* Step 1: 17.5px → 22.624px */
  --step-1: clamp(1.0938rem, 1.0149rem + 0.3942vw, 1.414rem);
  /* Step 2: 21.875px → 31.9903px */
  --step-2: clamp(1.3672rem, 1.2116rem + 0.7781vw, 1.9994rem);
  /* Step 3: 27.3438px → 45.2343px */
  --step-3: clamp(1.709rem, 1.4337rem + 1.3762vw, 2.8271rem);
  /* Step 4: 34.1797px → 63.9613px */
  --step-4: clamp(2.1362rem, 1.6781rem + 2.2909vw, 3.9976rem);

  --text-xxs: var(--text--3);
  --text-xs: var(--text--2);
  --text-sm: var(--text--1);
  --text-md: var(--text-0);
  --text-lg: var(--text-1);
  --text-xl: var(--text-2);
  --text-xxl: var(--text-3);
  --h1: var(--text-4);
  /* --h1: var(--text-xl); */
  --h1-highlight: var(--text-5);

  --font-size-base: 1rem;
  --multiplier: 1.5;
  --scaler: 10vw;

  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  /* https://utopia.fyi/type/calculator/?c=320,16,1.25,1620,16,1.5,5,5,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  /* Step -2: 10.24px → 7.1111px */
  --text-xs: clamp(0.4444rem, 0.6881rem + -0.2407vw, 0.64rem);
  /* Step -1: 12.8px → 10.6667px */
  --text-sm: clamp(0.6667rem, 0.8328rem + -0.1641vw, 0.8rem);
  /* Step 0: 16px → 16px */
  --text-md: clamp(
    var(--font-size-base),
    var(--font-size-base),
    var(--font-size-base)
  );
  /* Step 1: 20px → 24px */
  --text-lg: clamp(
    calc(1.25 * var(--font-size-base)),
    /* 1.25rem, */ var(--scaler),
    calc(1.5 * var(--font-size-base))
  );
  /* Step 2: 25px → 36px */
  --text-xl: clamp(
    calc(1.5625 * var(--font-size-base)),
    /* 1.3933rem + 0.8462vw, */ var(--scaler),
    calc(2.25 * var(--font-size-base))
  );

  --fit-xxl: clamp(
    calc(1.5 * var(--font-size-base)),
    /* 1.6031rem + 1.75vw, */ var(--scaler),
    calc(4 * var(--font-size-base))
  );
}

h1,
.text-h1 {
  font-size: var(--h1);
  /*
   * min: 18px 
   * max: 72px
   */
  font-size: clamp(1.125rem, 4.1vw + 0.1rem, 4.5rem);
  font-size: var(--heading-h1-size);
  line-height: var(--heading-h1-line-height);
}
@media (min-width: 40rem) {
  h1,
  .text-h1 {
    line-height: 1.3;
  }
}

@media (min-width: 64rem) {
  h1,
  .text-h1 {
    /* font-size: clamp(1.125rem, 3.3vw + 0.1rem, 4.5rem); */
  }
}

h2,
.text-xxl {
  /* font-size: var(--text-xxl); */
}

h3,
.text-xl {
  font-size: var(--text-xl);
}

h4,
.text-lg {
  font-size: var(--text-lg);
}

p {
  font-size: var(--text-md);
}

.text-sm {
  margin-bottom: var(--text-sm);
}

.text-xs {
  font-size: var(--text-xs);
}

.a-title,
.a-subtitle {
  margin: 0.5rem 0;
  font-family: gotham-black;
  text-transform: uppercase;
  color: var(--theme-color);
}

.a-title {
  font-size: var(--text-lg);
}

/* .a-subtitle {
  font-size: var(--text-lg);
} */

@media (min-width: 64rem) {
  .a-title {
    font-size: var(--text-xl);
  }

  /* .a-subtitle {
    font-size: var(--text-lg);
  } */
}
