/* @property --animate-in {
  syntax: '<string> | none';
  initial-value: none;
  inherits: false;
}

@property --animate-out {
  syntax: '<string> | none';
  initial-value: none;
  inherits: false;
} */

[data-animation='fade'] {
  --animation-in: fade-in;
  --animation-out: fade-out;
}

[data-animation='slide'] {
  --animation-in: slide-in;
  --animation-out: slide-out;
}
@keyframes back {
  0% {
    background-position: 100% 0%;
  }
  25% {
    background-position: 30% 0%;
  }
  40% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 50% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}

/* Fade (e.g. Modal) */

@property --fade-value {
  syntax: '<number>';
  initial-value: 0;
  inherits: false;
}

@keyframes fade-out {
  0% {
    --fade-value: 1;
  }
  100% {
    --fade-value: 0;
  }
}

@keyframes fade-in {
  0% {
    --fade-value: 0;
  }
  100% {
    --fade-value: 1;
  }
}
