/* :root {
  --asset-font-icon-name: MaterialIcons;
  --asset-font-icon-ttf: url('assets/fonts/MaterialIcons-Regular.ttf');
  --asset-font-icon-eot: url('assets/fonts/MaterialIcons-Regular.eot');
  --asset-font-icon-woff: url('assets/fonts/MaterialIcons-Regular.woff');
  --asset-font-icon-woff2: url('assets/fonts/MaterialIcons-Regular.woff2');
  --asset-font-opensans-name: 'Open Sans';
  --asset-font-opensans-ttf: url('assets/fonts/OpenSans-Regular.ttf');
  --asset-font-roboto-name: Roboto;
  --asset-font-roboto-ttf: url('assets/fonts/Roboto-Regular.ttf');

  --font-unit: clamp(1em, 1.5vw, 1.5em);
  --font-tiny: calc(0.25 * var(--space-unit));
  --font-small: 0.5rem;
  --font-medium: 1rem;
  --font-large: 1.5rem;
  --font-xl: 2rem;
  --font-xxl: 3rem;
  --size-icon-small: 1.5rem;
  --size-icon-base: 2rem;
  --size-icon-large: 2.5rem;
  --size-icon-xl: 3rem;
  --size-icon-xxl: 5rem;
  --size-unit: clamp(1em, 1.5vw, 1.5em);
  --size-small: 0.5rem;
  --size-medium: 1rem;
  --size-large: 1.5rem;
  --size-xl: 2rem;
  --size-xxl: 3rem;
  --time-transition-short: 0.2s;
  --time-transition-base: 0.4s;
  --time-transition-long: 0.6s;
  --time-transition-xl: 1s;
  --time-delay-short: 0.05s;
  --time-delay-base: 0.1s;
  --time-delay-long: 0.2s;
  --time-duration-short: 2s;
  --time-duration-base: 4s;
  --time-duration-long: 6s;
  --color-bg-base: var(--color-night-500);
  --color-bg-inverse: var(--color-white-smoke-500);
  --color-bg-dialog-default: var(--color-white-smoke-500);
  --color-border-theme: var(--color-theme-500);
  --color-border-dark: var(--color-night-500);
  --color-border-focus: var(--color-theme-300);
  --color-primary-lighter: var(--color-theme-100);
  --color-primary-light: var(--color-theme-300);
  --color-primary-base: var(--color-theme-500);
  --color-primary-dark: var(--color-theme-700);
  --color-primary-darker: var(--color-theme-900);
  --color-secondary-lighter: var(--color-night-100);
  --color-secondary-light: var(--color-night-300);
  --color-secondary-base: var(--color-night-500);
  --color-secondary-dark: var(--color-night-700);
  --color-secondary-darker: var(--color-night-900);
  --font-family-base: var(--asset-font-opensans-name);
  --font-family-icons: var(--asset-font-icon-name);
  --size-tiny: calc(0.25 * var(--size-unit));
  --color-bg-component-primary-base: var(--color-primary-base);
  --color-bg-component-primary-disabled: var(--color-primary-light);
  --color-bg-component-primary-active: var(--color-primary-dark);
  --color-bg-component-primary-hover: var(--color-primary-light);
  --color-bg-component-secondary-base: var(--color-secondary-base);
  --color-bg-component-secondary-disabled: var(--color-secondary-light);
  --color-bg-component-secondary-active: var(--color-secondary-dark);
  --color-bg-component-secondary-hover: var(--color-secondary-light);
  --color-bg-dialog-brutalist: var(--color-primary-base);
  --color-border-component-primary: var(--color-border-theme);
} */
