/* 
 * Main Theme Component or element styles
 * A set of CSS variables are used to define the theme
 * Some modifiers are also available directly applied in the template
 * 
 * e.g.
 * <div class="theme -disabled">Disabled</div>
 * <div class="theme -raw">Raw</div>
 * <div class="theme -hidden">Hidden</div>
 *
 */

@property --raw {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

@property --disabled {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

@property --secondary {
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

@property --unstyled {
  /* We define a value ("no") that doesn't exist as there's no default for "all"  */
  /* https://keithclark.co.uk/articles/pseudo-boolean-css-custom-properties/ */
  syntax: '<number>';
  initial-value: 0;
  inherits: true;
}

:root {
  /* https://dev.to/tracygjg/conditional-css-437e */
  --TRUE: 1;
  --FALSE: 0;
  --theme: ;
  /* --raw: var(--FALSE); */

  --theme: ;
  --base-unit: 4px;
  --padding-y: 0;
  --padding-x: var(--space-unit);
  --margin-bottom: var(--space-xs);
  /* --border-width: var(--border-width-25); */
  /* --is-raw: var(--raw); */

  --border-radius: 0;
}

.theme,
[data-component] {
  /* Base for all theming: if --unstyled is set, all styles are removed */
  --styled: calc(1 - var(--unstyled));

  /* Main theming variables */
  /* Remove all theming if unstyled = 1 */
  --not-secondary: calc(calc(1 - var(--secondary)) * var(--styled));
  --not-primary: calc(calc(1 - var(--primary)) * var(--styled));
  --not-disabled: calc(calc(1 - var(--disabled)) * var(--styled));
  --not-raw: calc(calc(1 - var(--raw)) * var(--styled));
  --primary: calc(calc(1 - var(--secondary)) * var(--styled));
  --component-mb: calc(var(--margin-bottom) * var(--styled));
  --component-padding-y: calc(var(--padding-y) * var(--styled));
  --component-padding-x: calc(var(--padding-x) * var(--styled));
  --component-border-width: calc(var(--border-width-25) * var(--styled));

  --theme-base-unit: var(--base-unit);
  --theme-base-unit-calc: calc(
    var(--theme-base-unit) * var(--not-raw, 1) * var(--styled, 1)
  );

  --box-shadow-x: var(--theme-base-unit-calc);
  --box-shadow-y: var(--theme-base-unit-calc);

  --component-translate-x: var(--theme-base-unit-calc);
  --component-translate-y: var(--theme-base-unit-calc);

  --box-shadow-base: var(--box-shadow-x) var(--box-shadow-y) 0 0 black;
  --box-shadow-hover: var(--box-shadow-x) var(--box-shadow-y) 0 0
    var(--theme-color);

  /* Pseudo-boolean CSS custom properties - https://keithclark.co.uk/articles/pseudo-boolean-css-custom-properties */
  /* Automatically define default and secondary theme */
  --component-color: color-mix(
    in srgb,
    var(--theme-color),
    var(--theme-color) calc(100% * var(--not-secondary, 0))
  );

  --component-bg: color-mix(
    in srgb,
    transparent,
    currentcolor calc(100% * var(--primary, 0))
  );

  --component-border-color: color-mix(
    in srgb,
    transparent,
    var(--color-bg) calc(100% * var(--primary, 0))
  );

  --component-box-shadow: var(--box-shadow-base);
  /* --component-padding-x: calc(var(--space-unit) * var(--styled)); */
  /* --component-padding-y: 0; */
  --component-border-style: solid;

  --component-transform: translate(
    var(--component-translate-x),
    var(--component-translate-y)
  );
  /* --component-height: auto;
  --component-width: auto;
  margin-bottom: var(--component-mb);

  /* If --component-padding is not defined, use --component-padding-y and --component-padding-x already defined by default*/
  padding: var(
    --component-padding,
    var(--component-padding-y) var(--component-padding-x)
  );
  border: var(--component-border-width) var(--component-border-style)
    var(--component-border-color);
  border-radius: var(--border-radius);
  background-color: var(--component-bg);
  box-shadow: var(--component-box-shadow);
  color: var(--component-color);
  font-size: var(--component-font-size, 1rem);
  font-weight: bold;
  outline: none;
}

.theme:not(.-disabled):hover {
  --component-box-shadow: var(--box-shadow-hover);
}

.theme.-disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* Raw modifier: removes box shadow and produce an effect-free component */
.theme.-raw,
.theme.-raw:hover {
  /* transform: 0;
  --component-box-shadow: 0; */
  --raw: var(--TRUE);
}

.theme.-hidden {
  display: none;
}

/* Disable the active and focus-visible states on disabled and raw modifiers on interactive components */
.theme:not(.-disabled, .-raw):active,
.theme:not(.-disabled, .-raw):focus-visible {
  --component-box-shadow: unset;
}

/* Disable the active and focus-visible states on disabled and raw modifiers */
.theme.-interactive:not(.-disabled, .-raw):active,
.theme.-interactive:not(.-disabled, .-raw):focus-visible {
  transform: translate(
    var(--component-translate-x),
    var(--component-translate-y)
  );
  --component-box-shadow: unset;
}

.theme[data-variant='secondary'],
[data-component='secondary'] {
  --secondary: var(--TRUE);
}

.theme[data-component-label] {
  margin-top: var(--space-xs);
}

.theme[data-component-label]::before {
  content: attr(data-component-label);
  position: absolute;
  /* top: 0; */
  left: 0;
  bottom: calc(100% + calc(var(--component-padding-y) / 2));
  transform: translate(0, calc(0 - var(--component-padding-y)));
  text-transform: uppercase;
}

[data-component='colorful-input-text'] {
  container-name: colorful-input-text;
  container-type: inline-size;
  /* --component-padding: 0; */
  --component-padding-y: var(--space-sm);
  --component-bg: transparent;

  /* --component-padding: 0; */
}

@container colorful-input-text (min-width: 0) {
  [type='color'] {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;

    /* TODO: check reset file */
    border: none;
    outline: none;
    border-image: none;
    background-color: transparent;
  }

  [type='text'] {
    position: relative;
    inset: 0;
    width: 100%;
    background-color: transparent;
    mix-blend-mode: difference;
    z-index: 444;

    /* TODO: check reset file */
    border: none;
  }
}

.theme {
  /* all: var(--unstyled); */ /* Reset styles only for unstyled elements */
}
