.a-text1.-highlighted,
.a-text2.-highlighted,
.a-text3.-highlighted,
.a-text4.-highlighted,
.a-text5.-highlighted,
.a-text6.-highlighted,
.a-paragraph.-highlighted,
.a-textSm.-highlighted,
.a-textXs.-highlighted,
p.-highlighted {
  font-family: inherit;
  text-transform: uppercase;
  /* TODO: check responsive line-height */
  line-height: 135%;
  margin: 0;
  position: relative;
}

/* https://stackoverflow.com/questions/6542212/use-css3-transitions-with-gradient-backgrounds/63848864#63848864 */
/* Used for the shake animation see shake.css */
@property --highlighted-color-1 {
  syntax: '<color>';
  initial-value: #e3c567;
  inherits: false;
}

@property --highlighted-color-2 {
  syntax: '<color>';
  initial-value: #e3c567;
  inherits: false;
}

.-highlighted:not(.-highlighted-animate) > span {
  --highlighted-color-2: var(--theme-color);
  --highlighted-color-1: var(--theme-color);

  padding: 2px;
  left: clamp(-30px, -1.4vw, -2px);
  padding-left: clamp(2px, 1.4vw, 30px);
  background-image: linear-gradient(
    var(--highlighted-color-1),
    var(--highlighted-color-2)
  );
  color: var(--color-bg);
  position: relative;
  box-decoration-break: clone;
  -webkit-box-decoration-break: clone;
}

.-highlighted.-animate > span > span {
  padding: 2px;
  /* background-image: linear-gradient(var(--theme-color), var(--theme-color)); */
  color: var(--theme-color);
  position: relative;
  box-decoration-break: clone;
}

/* .highlighted:hover > span {
  /* .highlighted:active > span { */
/* background-image: linear-gradient(var(--theme-color), var(--theme-color));
  position: relative;
  box-decoration-break: clone; */
/* // border-left: 5px solid $primary-color; */
/**/
/* // &::before { */
/* //   content: ''; */
/* //   position: absolute; */
/* //   display: inline; */
/* //   top: 0; */
/* //   left: -3px; */
/* //   width: 3px; */
/* //   height: 100%; */
/* //   background-image: linear-gradient($primary-color, $primary-color); */
/* //   z-index: -1; */
/* // } */
/* } */
/* } */

/**/
/* .highlighted:hover:not(.animate) > span { */
/*  color: var(--theme-color-60); */
/*  */
/* } */

.-highlighted.-animate:hover > span > span {
  position: relative;
  box-decoration-break: clone;
  /* color: var(--theme-color); */
  background-image: linear-gradient(var(--theme-color), var(--theme-color));

  background-size: 0% 100%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  background-position: left;

  /* &.active { */
  /* > span { */
  animation: animate-in 0.7s 0.1s forwards;
  /* animation: animate-in 0.7s 0.1s forwards reverse; ???  */
  /* animation-duration: 0.7s; */
  /* animation-iteration-count: infinite; */
  /* animation-direction: reverse; */
  /* //animate-out 0.7s 0.7s forwards; */
  /* } */

  /* } */
}

.-highlighted.-animate > span > span {
  /* animation: animate-out 0.7s 0.1s forwards; */
  animation-direction: reverse;
}
/* 
@keyframes animate-in {
  from {
    background-size: 0% 100%;
    color: var(--theme-color);
  }
  to {
    background-size: 100% 100%;
    color: var(--color-bg);
  }
} */

@keyframes animate-in {
  0% {
    background-size: 0% 100%;
  }
  50% {
    background-size: 100% 100%;
    background-position: left;
  }
  100% {
    background-size: 100% 100%;
    background-position: right;
    background-image: linear-gradient(var(--theme-color), var(--theme-color));
    color: var(--color-bg);
  }
}

@keyframes animate-out {
  0% {
    background-size: 100% 100%;
    background-position: right;
    background-image: linear-gradient(var(--theme-color), var(--theme-color));
    color: var(--color-bg);
  }
  50% {
    background-size: 100% 100%;
    background-position: right;
  }
  100% {
    background-size: 0% 100%;
    background-color: transparent;
    background-position: left;
    color: var(--theme-color);
  }
}
