.navbar {
  margin: var(--space-xs) 0;
  /* height: 100%; */
  width: clamp(70px, 5rem, 10%);
  padding: var(--space-xs);
  border-right: var(--border-width) solid var(--theme-color);
  --min-width: 60px;
  gap: var(--space-xs);
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: var(--space-md);
  position: sticky;
  top: 50px;
  bottom: 0;
}

/* TODO: fix this without media queries */
@media (max-width: 40rem) {
  .navbar {
    border-right: none;
    border-bottom: var(--border-width) solid var(--theme-color);
  }

  .navbar ul {
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
  }
}

.navbar ul li {
  width: var(--space-md);
  height: var(--space-md);
}

.navbar__btn {
  background: transparent;
  border: none;
  padding: 0;
}

.zoom-in,
.zoom-out {
  cursor: pointer;
}

.zoom-in,
.zoom-out,
.primary-yellow,
.warm-pink,
.red,
.erotic-blue {
  stroke-width: var(--border-width);
}

.primary-yellow,
.warm-pink,
.red,
.erotic-blue {
  transition: fill 0.5s ease;
}

.primary-yellow {
  stroke: var(--color-primary);
}

.warm-pink {
  stroke: var(--theme-warm-pink);
}

.red {
  stroke: var(--theme-red);
}

.erotic-blue {
  stroke: var(--theme-erotic-blue);
}

.navbar > ul {
  list-style: none;
  float: left;
  padding: 0 10px 0 0;
}
.navbar .navbar-content {
  text-decoration: none;
  display: block;
  color: white;
  text-align: center;

  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
}
.navbar:hover .navbar-content {
  opacity: 0.2;
}
.navbar:hover ul:hover .navbar-content {
  opacity: 0.5;
}
.navbar:hover ul:hover .navbar-content:hover {
  opacity: 1;
}
