.a-btn {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  /* color: var(--font-color); */

  --component-padding-x: var(--space-unit);
  --component-padding-y: var(--space-xs);
}

.a-btn span,
.a-btn:after {
  color: var(--font-color);
}
