.a-input {
  --component-bg: var(--main-dark);
  --component-color: var(--theme-color);
  --component-padding-y: var(--space-sm);

  width: 100%;
  border-color: var(--theme-color);
}

.a-input::placeholder {
  color: inherit;
  opacity: 0.4;
}
