.a-input {
  --component-bg: var(--color-main-dark);
  --component-color: var(--theme-color);
  --component-padding-y: var(--space-sm);
  --component-border-color: var(--theme-color);

  width: 100%;
}

.a-input::placeholder {
  color: inherit;
  opacity: 0.4;
}
