.a-link {
  color: var(--theme-color);
  /* text-decoration-line: underline; */
  text-decoration-color: currentColor;
  text-decoration-thickness: 2px;
  text-underline-offset: 2px;
  display: flex;
  align-items: flex-start;
  gap: 0.5rem;
}

.a-link::before {
  content: '';
  background-color: var(--theme-color);
  background-image: url('/img/hyperlink.svg');
  background-repeat: no-repeat;
  height: 1rem;
  flex-basis: 1rem;
  flex-shrink: 0;
  padding: 2px;
  background-position: center center;
}
