@property --overlay-bg {
  syntax: '<color>';
  initial-value: var(--color-bg-80);
  inherits: false;
}

.a-overlay {
  --overlay-bg: var(--color-bg-80);
  position: fixed;
  opacity: var(--overlay-opacity);
  inset: var(--border-width);
  background-color: var(--overlay-bg);
}
