.m-shake {
  position: relative;
  display: flex;
  width: 100%;
  max-height: 8rem; /* 128px */
}

/* Simple shake on hover on the svg */
.shake__shape:hover {
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

.shake-rect {
  fill: var(--theme-color);
  /* stroke: var(--color-bg); */
}

.shake-rect-internal {
  fill: var(--color-bg);
}

/* shake the all website */
#shake:checked ~ .wrapper {
  animation: shake-hard 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) infinite;
}

/* Make the letter of the title as block element so we can apply every styles to them */
.banner__title-brutally__r,
.banner__title-brutally__ly {
  display: block;
  transition: opacity 5s linear;
}

.banner__alert {
  font-size: var(--text-xxl);
  display: none;
  position: absolute;
  --position-1: 5%;
  --position-2: 10%;
  --position-3: 20%;
  --position-4: 30%;
  --position-5: 35%;
  --position-6: 50%;

  transition: scale 1s ease-in-out;
}

/* Top side */
.banner__alert:nth-child(1) {
  top: var(--position-1);
  left: var(--position-2);
}

.banner__alert:nth-child(2) {
  top: var(--position-2);
  right: var(--position-1);
}

.banner__alert:nth-child(3) {
  top: var(--position-3);
  right: var(--position-4);
}

.banner__alert:nth-child(4) {
  bottom: var(--position-1);
  left: var(--position-2);
}

.banner__alert:nth-child(5) {
  top: var(--position-6);
  right: var(--position-5);
}

.banner__alert:nth-child(6) {
  bottom: var(--position-2);
  right: var(--position-3);
}

.banner__alert:nth-child(7) {
  top: var(--position-6);
  right: var(--position-1);
}

.banner__alert:nth-child(8) {
  top: var(--position-1);
  right: var(--position-5);
}

/* Display the banner alert and animate them */
#shake:checked ~ .wrapper .banner__alert {
  --banner__alert__scale-animation-duration: 1.5s;
  display: block;
  animation: scale var(--banner__alert__scale-animation-duration) linear
    infinite;
}

#shake:checked ~ .wrapper .banner__alert:nth-child(even) {
  --banner__alert__scale-animation-duration: 3.5s;
}

#shake:checked ~ .wrapper .banner__alert:nth-child(1) {
  --banner__alert__scale-animation-duration: 0.5s;
}

#shake:checked ~ .wrapper .banner__alert:nth-child(5) {
  --banner__alert__scale-animation-duration: 8.5s;
}

/* While the website is shaking, reduce the opacity of certain letters of the main title */
#shake:checked ~ .wrapper .banner .banner__title-brutally::first-letter,
#shake:checked ~ .wrapper .banner .banner__title-brutally__r,
#shake:checked ~ .wrapper .banner .banner__title-brutally__ly {
  opacity: 0;
}

/* While the website is shaking, animate the second part of the title */
#shake:checked ~ .wrapper .banner .banner__title__css-only {
  animation: translate-vertical 1.5s linear infinite;
}
#shake:checked ~ .wrapper .highlighted:not(.animate) > span {
  transition: background-image 0.5s linear;
  animation: highlighted-shake 1.5s linear infinite;
}

/* Make the shake svg move from left to right */
#shake:checked ~ .wrapper .shake__shape {
  animation: translate-horizontal 4s linear infinite;
  animation-fill-mode: forwards;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

@keyframes shake-hard {
  10%,
  90% {
    transform: translate3d(-2px, -1px, 0);
  }

  20%,
  80% {
    transform: translate3d(4x, 2px, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, -2px, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 2px, 0);
  }
}

@keyframes translate-horizontal {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(calc(-50svw + var(--theme-bar-width)));
  }

  50% {
    transform: translateX(0);
  }

  75% {
    transform: translateX(calc(50svw - var(--theme-bar-width)));
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes translate-vertical {
  0% {
    transform: translateX(0);
  }

  50% {
    transform: translateY(5svw);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes scale {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes highlighted-shake {
  0% {
    padding: 0;
    --highlighted-color-1: var(--theme-red);
    --highlighted-color-2: var(--theme-red);
  }
  25% {
    padding: 3px;
    --highlighted-color-1: var(--theme-warm-pink);
    --highlighted-color-2: var(--theme-warm-pink);
  }
  50% {
    padding: 3px;
    --highlighted-color-1: var(--theme-erotic-blue);
    --highlighted-color-2: var(--theme-erotic-blue);
  }
  75% {
    padding: 0;
    --highlighted-color-1: var(--color-primary);
    --highlighted-color-2: var(--color-primary);
  }

  100% {
    padding: 0;
    --highlighted-color-1: var(--theme-red);
    --highlighted-color-2: var(--theme-red);
  }
}
