.box {
  position: relative;
  border: var(--border-theme-50);
  padding: var(--container);
}

.box [aria-label='box-title'] {
  font-size: var(--text-xl);
  position: absolute;
  top: 0;
  left: var(--space-md);
  height: unset;
  line-height: 1;
  /* transform: translateY(-50%); */
  transform: translate(0, -50%);
  margin-block-start: 0;
  display: inline;
  /* background: var(--color-bg); */
  /* box-shadow: 1px 1px 2px var(--color-bg); */
  text-shadow: 6px 6px 2px var(--color-bg);
}

.box[data-box-title]::before {
  content: attr(data-box-title);
  font-size: var(--text-xl);
  position: absolute;
  top: 0;
  left: var(--space-md);
  height: unset;
  line-height: 1;
  /* transform: translateY(-50%); */
  transform: translate(0, -50%);
  margin-block-start: 0;
  display: inline;
  background: var(--color-bg);
  /* box-shadow: 1px 1px 2px var(--color-bg); */
  text-shadow: 6px 6px 2px var(--color-bg);
}
